In [12]:
numbers = [3, 30, 34, 5, 9]

In [20]:
def solution(numbers):
    numbers = list(map(str,numbers))
    numbers.sort(key=lambda x: (x*4)[:4], reverse=True)
    answer = str(int(''.join(numbers)))
    return answer

In [21]:
solution(numbers)

'9534330'

알고리즘
1. numbers의 원소를 문자열로 변환
2. "각 원소를 반복해 4자리로 자른 문자열" 기준으로 정렬
3. 문자열 합침

In [22]:
#1
numbers = list(map(str,numbers))

In [23]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

map : 리스트의 요소를 지정된 함수로 처리
 - list(map(함수, 리스트))
 - tuple(map(함수, 튜플))

In [25]:
#2
numbers.sort(key=lambda x: (x*4)[:4], reverse=True)
    # string에 곱셈을 하면 곱한 수 만큼 반복됨.
numbers

['9', '5', '34', '3', '30']

numbers의 원소는 0 이상 1000 이하의 정수  
  
예)  
numbers = ['3','32','35']  각 문자열을 반복시킨 후 4자리로 slice  
numbers = ['3333','3232','3535]  
result = '35332'

In [26]:
#3
str(int(''.join(numbers)))

'9534330'

join : 배열을 특정 문자로 구분해 문자열로 변환  
string을 int로 변환 후 다시 string으로  
  
join만 사용할 경우, [0,0,0,0]이 input되면 '0000'이 return됨.  
이를 int로 변환해 '0'으로 바꾼 후, 지문에서 제시한대로 overflow 방지를 위해 str으로 변환.